name: Coverity Scan
permissions:
  contents: read

on:
  schedule:
    - cron: '0 1 * * 1'  # Every Monday at 01:00 UTC
  workflow_dispatch:     # Allow manual trigger

jobs:
  coverity-scan:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v6

        - name: Check Coverity token is set
          run: |
            if [ -z "${{ secrets.COVERITY_TOKEN }}" ]; then
                echo "ERROR: COVERITY_TOKEN secret is missing!"
                exit 1
            fi

        - name: Install Packages
          run: |
            sudo apt-get install -y meson libdbus-1-dev git cmake locales

        - name: Setup Build Directory
          run: |
            meson setup -Dlibdbus=enabled build

        - uses: vapier/coverity-scan-action@v1
          with:
            project: computexpresslink/libcxlmi
            email: ${{ secrets.COVERITY_EMAIL }}
            token: ${{ secrets.COVERITY_TOKEN }}
            command: 'meson compile -C build'
